body {
    color: var(--text-color-light);
    background-color: var(--primary-color-light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

body.dark {
    color: var(--text-color-dark);
    background-color: var(--primary-color-dark);
}

/* HEADER, FOOTER */
#header,
#footer {
    background-color: var(--content-color-light);
    width: 100%;
    border-bottom: 3px solid var(--secondary-color-light);
    border-top: 3px solid var(--secondary-color-light);
}

#header.dark,
#footer.dark {
    background-color: var(--content-color-dark) !important;
    border-bottom: 3px solid var(--secondary-text-color-dark);
    border-top: 3px solid var(--secondary-text-color-dark);
}

#header {
    margin: 2em auto;
    padding: 1.5em 0;
    text-align: center;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.5em;
}

#header::after {
    content: "";
    clear: both;
}

#footer {
    margin: 2em auto;
    padding: 1.5em 0;
    text-align: center;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
}

#footer-container {
    width: 40%;
    margin: auto;
}


/* CONTENT */
#content {
    background-color: var(--content-color-light);
    border: 9px double var(--secondary-color-light);
    padding: 2em;
    width: 80%;
    margin: 3em auto;
    position: relative;
}

#content.dark {
    background-color: var(--content-color-dark);
    color: var(--content-color-light);
    border: 9px double var(--secondary-text-color-dark);
}

/* TEXT */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color-light);
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
}

h2 {
    margin: 1.5em auto auto 0;
    font-size: 1.5em;
}

h3 {
    margin: 1.5em auto auto 0;
}

h1.dark,
h2.dark {
    color: var(--content-color-dark) !important;
}

h3.dark {
    color: var(--content-color-light) !important;
}


a {
    color: var(--primary-color-light);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color-light);
    text-decoration: underline;
}

a.dark {
    color: var(--secondary-color-dark);
}

a.ext:after {
    /*external links*/
    content: ' [external]';
    font-size: xx-small;
    vertical-align: super;
}

p.project-blurb {
    font-size: smaller;
    font-style: italic;
}



/* NAV BAR */

nav a {
    color: var(--secondary-color-light);
    font-weight: bold;
    font-size: smaller;
    padding: auto 1em;
}

nav a:hover {
    color: var(--primary-color-light);
    text-decoration: none;
}

nav a::after {
    content: " ; ";
}

nav a:last-child::after {
    content: "";
}

nav a.dark:hover {
    color: var(--highlight-color-dark);
}